.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 200px;
}

input {
    margin-top: 20px;
    width: 400px;
    padding: 2%;
    font-size: 18px;
}